@import "../styles/variables";

.cell {
    height: 20px;
    width: 20px;
    background-color: $dead-cell-color;
    padding: 0;
    cursor: pointer;
}

.alive-cell {
    background-color: $alive-cell-color;
}
